<div class = "large-infobox hidden scroll">


	<p><center>{{name}}</center></p>

	<p>Adress {{formatted_address}}</p>
	<p>Phone Number{{formatted_phone_number}}</p>
	
	<p>International Phone Number: {{international_phone_number}}</p>

	<p>We are: <img class="open-close-icon" src={{venueOpenNowDisplay opening_hours.open_now}}><p>
	
	{{#if opening_hours.weekday_text}}
	<ul id = "wh-list">Opening Hours: 
		{{#each opening_hours.weekday_text}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
	{{/if}}

	<p><a href="{{website}}"> Visit their website</a></p>

		{{#if price_level}}
			<p>{{venuePriceDisplay price_level}}</p>
		{{/if}}

		{{#if rating}}
			<p><img class="rating-icon" src="assets/1416274893_award_star_bronze_3.png">{{rating}}</p>
		{{/if}}
		<p>Total User Rating {{user_ratings_total}}</p>

	<p>Time zone {{tz}}</p>

	<div class="close">
    <img src="assets/close.png" class="close-infobox">
  </div>

  

</div>