<div id = 'search-box'>
<%= form_tag('/venues', :method => :get, :id => 'search', :remote => true) do %>

  <%= text_field_tag :search, params[:search], :id => 'autocomplete', placeholder: "City" %>
  <%= check_box_tag('bar') %>
	<%= label_tag("Bars") %>
	<%= check_box_tag('club') %>
	<%= label_tag("Night Clubs") %>
	<%= check_box_tag('food') %>
	<%= label_tag("Hunger Games") %>
	<%= check_box_tag('all') %>
	<%= label_tag("Clairvoyant") %>
	<br>
	<%= label_tag("Distance of search") %>
	<%= range_field_tag 'distance', 3, {in: 1..11, step:2, list:'distance-setting'} %>
	<datalist id="distance-setting">
	<option>1</option>
	<option>3</option>
	<option>5</option>
	<option>7</option>
	<option>9</option>
	<option>11</option>
	</datalist>
	

  <div class="actions">
    <%= submit_tag 'Search', :name => nil %>
  </div>
<% end %>
</div>
<img src="assets/my_location.png" id="my-location">
